5-1. 코사인 유사도(Cosine Similarity)
* 코사인 유사도는 두 벡터 간의 코사인 각도를 이용하여 구할 수 있는 두 벡터의 유사도이다.

코사인 유사도
* 두 벡터의 방향이 완전히 동일한 경우에는 1의 값을 가지며, 90°의 각을 이루면 0 , 180° 로 반대의 방향을 가지면 ‑1 의 값을 갖게 된다

예시) \
문서 1 : 저는 사과 좋아요 \
문서 2 : 저는 바나나 좋아요 \
문서 3 : 저는 바나나 좋아요 저는 바나나 좋아요

In [3]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

def cos_sim(A,B) :
    return dot(A,B)/(norm(A)*norm(B))

doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

print('문서 1과 문서 2의 코사인 유사도 :',cos_sim(doc1, doc2))
print('문서 1과 문서 3의 코사인 유사도 :',cos_sim(doc1, doc3))
print('문서 2와 문서 3의 코사인 유사도 :',cos_sim(doc2, doc3))

문서 1과 문서 2의 코사인 유사도 : 0.6666666666666667
문서 1과 문서 3의 코사인 유사도 : 0.6666666666666667
문서 2와 문서 3의 코사인 유사도 : 1.0000000000000002

* 코사인 유사도는 유사도를 구할 때 벡터의 영향(패턴)에 초점을 두므로 코사인 유사도는 문서의 길이가 다른 상황에서 공정한 비교가 가능하다.

2. 유사도를 이용한 추천 시스템 구현하기

In [4]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_csv('movies_metadata.csv', low_memory = False)
data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [5]:
# 상위 2만 개의 샘플을 data에 저장
data = data.head(20000)

In [7]:
# overview 열에 존재하는 모든 결측값을 카운트하여 출력
print('overview 열의 결측값의 수 :',data['overview'].isnull().sum())
# 결측값을 빈 값으로 대체
data['overview'] = data['overview'].fillna('')

overview 열의 결측값의 수 : 135

In [8]:
tfidf = TfidfVectorizer(stop_words = 'english') # 불용어
tfidf_matrix = tfidf.fit_transform(data['overview'])
print('TF-IDF 행렬의 크기(shape) :', tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (20000, 47487)

20,000개의 영화를 표현하기 위해서 총 47.487 개의 단어가 사용되었음을 의미한다.

In [9]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)

코사인 유사도 연산 결과 : (20000, 20000)

In [10]:
title_to_index = dict(zip(data['title'], data.index))

# 영화 제목 Father of the Bride Part II의 인덱스를 리턴
idx = title_to_index['Father of the Bride Part II']
print(idx)

4

In [11]:
def get_recommendations(title, cosine_sim = cosine_sim) :
    # 선택한 영화의 타이틀로부터 해당 영화의 인덱스를 받아온다.
    idx = title_to_index[title]
    
    # 해당 영화와 모든 영화와의 유사도를 가져온다.
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # 유사도에 따라 영화들을 정렬한다.
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    
    # 가장 유사한 10개의 영화를 받아온다.
    sim_scores = sim_scores[1:11]
    
    # 가장 유사한 10개의 영화의 인덱스를 얻는다.
    movie_indices = [idx[0] for idx in sim_scores]
    
    # 가장 유사한 10개의 영화의 제목을 리턴한다.
    return data['title'].iloc[movie_indices]

In [12]:
get_recommendations('The Dark Knight Rises')

12481                            The Dark Knight
150                               Batman Forever
1328                              Batman Returns
15511                 Batman: Under the Red Hood
585                                       Batman
9230          Batman Beyond: Return of the Joker
18035                           Batman: Year One
19792    Batman: The Dark Knight Returns, Part 1
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
Name: title, dtype: object

In [16]:
get_recommendations('Iron Man')

15153                          Iron Man 2
7555         The Wonderful Ice Cream Suit
15199    The Disappearance of Alice Creed
8335                             Scarface
2782                        The Dark Half
6058                   Cradle 2 the Grave
17905                      A Wedding Suit
18390                    Gorilla at Large
17243                            Delbaran
19270                               Brake
Name: title, dtype: object

겹치는 단어를 기준으로 만드는거라 그런지 출력된 리스트가 만족스럽지는 않다.